# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.pyc

# Virtual environments
.env
.venv/
.venv-llm-agents-tutorial/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs and debug
*.log
*.tmp

# OS
.DS_Store
Thumbs.db

.zshrc